# fly.toml app configuration file generated for classmoji-slides
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'classmoji-slides'
primary_region = 'iad'

[build]

[env]
  HOST = '0.0.0.0'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = '2gb'
  cpus = 1
