/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 88vh;
  z-index: 10;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: #2c3e50;
  height: 6vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
