.browser-window {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  margin-bottom: 2rem;

  margin-left: auto;
  margin-right: auto;
}

.browser-header {
  background: #f3f3f3;
  padding: 0.4rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.75rem;
  color: #555;
  border-bottom: 1px solid #ddd;
  height: 42px;
  width: 100%;
}

.browser-header .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.browser-header .red {
  background: #ff5f56;
}

.browser-header .yellow {
  background: #ffbd2e;
}

.browser-header .green {
  background: #27c93f;
}

.browser-url {
  font-family: monospace;
  opacity: 0.8;
  background-color: white;
  padding: 0.2rem 1rem;
  border-radius: 20px;
  border: 1px solid #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
